@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: #f9faf8;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    background-color: #1F2937;
    position: static;
    box-sizing: border-box;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}
ul li{
    display: inline-block;
    flex-direction: row;
    margin: 0 30px;
    list-style: none;
}
section{
    padding: 60px 150px;
}
.container{
    display: grid;
    align-items: center;
    grid-gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
    background-color: #1F2937;
}
.pic img{
    height: 400px;
    width: 330px;
}
.home h1{
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #f9faf8;
}
.home p{
    color: #e5e7eb;
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 20px;
}
.home .btn{
    text-decoration: none;
    background: #3882f6;
    font-weight: bold;
    padding: 10px 30px;
    color: white;
    display: inline-block;
    margin: 3Opx 0;
    border-radius: 30px;
}
/* .books{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px 0px;
} */
.title h2{
    color: #1F2937;
    text-align: center;
    font-size: 36px;
    margin: 20px auto;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    margin: 0 30px;
}
figure{
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    max-width: 300px;
    margin: 0 30px;
}
img{
    max-width: 300px;
    max-height: 300px;
}
figcaption{
    text-align: center;
}
.quote{
    background: #e5e7eb;
    width: 70%;
    margin: 50px auto;
    padding: 60px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 18px;
}
.says p{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}
cite{
    padding-left: 80%;
}
.more{
    background: #3882f6;
    width: 60%;
    margin: 100px auto;
    padding: 60px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}
.sign h4{
    color: #e5e7eb;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 25px;
}
.sign p{
    color: #e5e7eb;
}
.btn a{
    text-decoration: none;
    border-style: solid;
    font-weight: bold;
    padding: 10px 20px;
    color: bisque;
    display: inline-block;
    margin: 3Opx 0;
    border-radius: 20px;
}

.last{
    text-align: center;
    height: 80px;
    background: #1F2937;
    padding: 10px 20px;
}